<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
      <add name="astockEntities" connectionString="metadata=res://*/AStock.csdl|res://*/AStock.ssdl|res://*/AStock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\astock;initial catalog=astock;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>-->
  <appSettings>
    <add key="OutputFileFolderPath" value="C:\\downloads\\Output"/>
    <add key="StartDate" value="2013-09-01"/>
    <add key="EndDate" value="2015-05-18"/>
    <!--
      IndustryTopLevel => IndustryCodeA
      Industry2ndLevel2001 => IndustryCodeB
      Industry2ndLevel2012 => IndustryCodeC
    -->
    <add key="IndustryLevel" value="Industry2ndLevel2012"/>
    <!--
      Market Type
      5 - Consolidated A stock market
      10 - Consolidated B stock market
      15 - Consolidated A and B stock market
      21 - Consolidated A and start-up stock market
      31 - Consolidated A and B and start-up stock market
    -->
    <add key="MarketType" value="21"/>
    <!--
      Weighted : ( (1 + X1) * (1 + X2) * (1 + X3)...(1 + Xn) - 1 ) / N
      Arithmetic: (X1 + X2 + X3 + ... + Xn) / N
    -->
    <add key="AverageAlgorithm" value="Weighted"/>
    <!--
      ExcessiveSharpeOptimal
      ExcessiveReturnOptimal
      ResidentialReturnOptimal
      ResidentialSharpeOptimal
    -->
    <add key="PortfolioAlgo" value="ResidentialSharpeOptimal"/>
    <add key="PorfolioNumOfStocks" value="6"/>
    <!--
      Starts with '000' - Shenzhen Main board A Stock (SZMBA)
      Starts with '200' - Shenzhen Main board B Stock (SZMBB)
      Starts with '6' - Shanghai Main board A Stock (SHMBA)
      Starts with '900' - Shanghai Main board B Stock (SHMBB)
      Starts with '002' - Shenzhen Medium to Small board (MSB)
      Starts with '300' - GEM board (GEMB)
    -->
    <add key ="BoardType" value="MSB"/>
    <!--
      INDEX - Retrieve the return rate from Index datababase
      CONSOLIDATED - Retrieve the return rate from the ConsolidatedMarketReturn database table
    -->
    <add key="MarketReturnRatesSource" value="CONSOLIDATED"/>
    <add key="IsFilterByBoard" value="false"/>
    <add key="IsFilterBySpecifiedSymbol" value="false"/>
    <add key="InterestedSymbols" value="000971,600687,002699,600981,002714,600074"/>
    <add key="NumOfTopNCompaniesInSameIndustry" value="3"/>
    <!--
      "DownSide" risk - Semivariance, only count the samples that is lower than the averagen return rate or other determination method
      "BothSide" risk - Variance, standard deviation, count in all samples
    -->
    <add key="RiskType" value="BothSide"/>
  </appSettings>
  <!--
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\\downloads\CAPM.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <logger name="CAPM">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>
  -->
</configuration>